#centered-page
{
    width: 60%;
    margin: auto;
}

#page-header
{
    display: grid;
    grid-template-columns: 10% 5%;
}

#wiki-logo
{
    grid-column: 1;
    width: 100%;
}

#wiki-title
{
    grid-column: 3;
}

.post-billboard
{
    display: block;
    border: 1px solid black;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
}