#centered-page
{
    width: 60%;
    margin: auto;
}

#page-header
{
    display: grid;
    grid-template-columns: 10% 5%;
}

#wiki-logo
{
    grid-column: 1;
    width: 100%;
}

#wiki-title
{
    grid-column: 3;
}

#post-billboard
{
    border: 2px solid black;
    border-radius: 10px;
}